* {
    font-family: "Montserrat", sans-serif;
    margin: -20;
    padding: -20;
    box-sizing: border-box;
}

header {
    margin: 29px 59px 40px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    color: #989D9C;
    cursor: pointer;
    margin: 23px;
}

.button-login {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
}

.logo-image {
    width: 568px;
    Height: 500px;
    margin-left: 130px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;

}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-explore{
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: normal;
    color: #000;
}
@media screen and (max-width: 950px){

header{
    display: none;
}
main{
    margin: 160px 0 0 0px;
    display: inline-block;
    align-items: center;
    flex-direction: column;
}
p{
    display: none;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
    margin: auto;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    margin: auto;
}   
.logo-image{
    width: 354px;
    height: 317px;
    display: inline-block;
}


} 
